<div>
    <input id="textbox">
    <p id="producto"></p>
    <button type="submit">Agregar producto</button>
        
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>