<div>
   <p>Agregar nuevo producto</p>
   <!-- action="http://localhost:8080/api/products/"  -->
   <form method="post" id="formularioAgregarProducto">
      <label>Title</label>
      <input name="title"></input> <br>
      
      <label>Description</label>
      <input name="description"></input> <br>

      <label>Price</label>
      <input name="price"></input> <br>

      <label>Code (no se puede repetir)</label>
      <input name="code"></input><br>

      <input type="submit" value="Send"></input>
   </form>
   <h1> Ésta es lista de productos en tiempo real</h1>
   <div id="divQueContieneProductos">
   {{#each listaDeProductos}}
      <p> {{this.id}} | {{this.title}} | {{this.code}} | {{this.price}}</p>
   {{/each}}
   </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>